<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               (<a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC BY 4.0</a>) {{ site.time | date: "%Y"  }} {{site.company_name}}.
	       <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><a href="https://accessnow.org" target="_blank"><img src="{{ "images/accessnow_logo_transparent_small.png" }}" alt="Access
Now" style="max-width:300px;"></a></p>
                </div>
            </div>
</footer>
